In [1]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

train_data = train_data.set_index("PassengerId")
test_data = test_data.set_index("PassengerId")

y = train_data["Survived"]
X = train_data.drop("Survived", axis=1)

In [3]:
X.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

In [5]:
X.describe()

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200

In [6]:
y.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [7]:
X["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [8]:
X["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [9]:
# C=Cherbourg, Q=Queenstown, S=Southampton.
X["Embarked"].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="median")),
        ("scaler", StandardScaler())
    ])

In [11]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

cat_pipeline = Pipeline([
        ("ordinal_encoder", OrdinalEncoder()), # convert categorical values into integer codes
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("cat_encoder", OneHotEncoder(sparse_output=False)), #Converts categorical values into binary columns, avoiding any implied order.
    ])

In [12]:
from sklearn.compose import ColumnTransformer

num_attribs = ["Age", "SibSp", "Parch", "Fare"]
cat_attribs = ["Pclass", "Sex", "Embarked"]

preprocess_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", cat_pipeline, cat_attribs),
    ])

In [13]:
from sklearn.ensemble import RandomForestClassifier

clf = Pipeline(steps=[
    ("preprocess_pipeline", preprocess_pipeline),
    ("model", RandomForestClassifier(random_state=42))
])

In [14]:
from sklearn.model_selection import GridSearchCV

# setup for hyper parameter tuning
param_grid = {
    "model__n_estimators": [100, 200, 300],
    "model__max_depth": [4, 5, 6, None],
    "model__min_samples_split": [2, 5, 10],
    "model__min_samples_leaf": [1, 2, 4],
    "model__class_weight": [None, 'balanced', {0: 1, 1: 1.5},]
                            
}

grid_search = GridSearchCV(
    estimator=clf,      # your pipeline or model
    param_grid=param_grid,
    cv=5,               # number of folds
    scoring=['accuracy', 'f1', 'recall'],
    refit='f1',  # Which metric to use for selecting best model
    n_jobs=-1           # use all CPU cores
)

In [15]:
grid_search.fit(X, y)

# Access the best pipeline after GridSearchCV
best_estimator = grid_search.best_estimator_

In [16]:
y_pred = best_estimator.predict(test_data)

In [17]:
output = pd.DataFrame({
    "PassengerId": test_data.index,  # Use the index as PassengerId
    "Survived": y_pred
})

output.to_csv('submission.csv', index=False)

print(f"Submission shape: {output.shape}")
print(output.head())
print(f"Predictions: {output['Survived'].sum()} survived, {len(output) - output['Survived'].sum()} died")

Submission shape: (418, 2)
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
Predictions: 156 survived, 262 died